{% block page_title%}Title{%endblock%}

  {% block content %}
    <article class="container">
      <h1>Queen Albums</h1>
      <p>Queen's FUll Discography</p>
      <div class="row">
        {% for albums in queen.discography %}
          <div class="col-sm-6 col-lg-4">
            <div class="card mb-4 bg-light border-success">
              <div class="card-body">
                <h5 class="card-title">{{albums.title}}</h5>
                <h6 class="card-title">{{albums.year}}</h6>
                <p class="card-image">{{albums.image}}</p>
                <a href="{{ queen.source }} " target="blank">Source</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
    {% endblock%}