{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}
<title>
  {% block page_title %}{{ name }}
  {% endblock %}
</title>
{% block page_description %}{{ title }}
  by
  {{ author }}
{% endblock %}>
{% block content %}
  <div class="container"></div>
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="/img/members/{{ image }}" alt="queen member" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
        <h1>{{ name }}</h1>
        <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}