.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  padding-top: 12rem;
  color: white;
}


.jumbotron h1 {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;

}

.jumbotron p {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;

}